<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>客户退货信息</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,customerReturnList-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/css/edit.css" media="all">
</head>
<body>
<div id="customerReturnListEdit">
   	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label"><span style="color: red">*</span>商品名</label>
			<div class="layui-input-inline two" v-if="!isView">
				<input type="text" v-model="customerReturnList.goodsName" required lay-verify="required" placeholder="请输入商品名" autocomplete="off" disabled="disabled" class="layui-input">
			</div>
			<div class="my-form-label" v-if="isView">
				<div class="layui-input-inline two">
					{{customerReturnList.goodsName}}
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span style="color: red">*</span>退货编号 </label>
			<div class="layui-input-inline two" v-if="!isView">
				<input type="text" v-model="customerReturnList.customerReturnCode" placeholder="不填写将自动生成|格式：XS+时间(毫秒级)" autocomplete="off" class="layui-input">
			</div>
			<div class="my-form-label" v-if="isView">
				<div class="layui-input-inline">
					{{customerReturnList.customerReturnCode}}
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span style="color: red">*</span>商品单价</label>
			<div class="layui-input-inline" v-if="!isView">
				<input type="text" required lay-verify="required" v-model="customerReturnList.unitPrice" placeholder="请输入商品单价" autocomplete="off" class="layui-input">
			</div>
			<div class="my-form-label" v-if="isView">
				<div class="layui-input-inline">
					{{customerReturnList.unitPrice}}
				</div>
			</div>
			<label class="layui-form-label"><span style="color: red">*</span>退货数量</label>
			<div class="layui-input-inline" v-if="!isView">
				<input type="text" required lay-verify="required" v-model="customerReturnList.customerReturnNumber" placeholder="请输入客户退货数量" autocomplete="off" class="layui-input">
			</div>
			<div class="my-form-label" v-if="isView">
				<div class="layui-input-inline">
					{{customerReturnList.customerReturnNumber}}
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span style="color: red">*</span>退货时间</label>
			<div class="layui-input-inline" v-if="!isView">
				<input type="text" id="datetime" v-model="customerReturnList.customerReturnDate" value-format="yyyy-MM-dd HH:mm:ss" required lay-verify="required" autocomplete="off" placeholder="请输入客户退货时间" class="layui-input">
			</div>
			<div class="my-form-label" v-if="isView">
				<div class="layui-input-inline">
					{{customerReturnList.customerReturnDate | formatDate}}
				</div>
			</div>
			<label class="layui-form-label"><span style="color: red">*</span>应付金额</label>
			<div class="my-form-label">
				<div class="layui-input-inline">
					{{customerReturnList.unitPrice * customerReturnList.customerReturnNumber || 0}}
				</div>
			</div>
			<label class="layui-form-label"><span style="color: red">*</span>实付金额</label>
			<div class="layui-input-inline" v-if="!isView">
				<input type="text" lay-verify="number" v-model="customerReturnList.amountPaid" class="layui-input" placeholder="请输入实付金额">
			</div>
			<div class="my-form-label" v-if="isView">
		    	<div class="layui-input-inline">
					{{customerReturnList.amountPaid}}
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">客户</label>
			<div class="layui-input-inline two" v-if="!isView">
				<input type="text" required lay-verify="required" v-model="customerReturnList.customerName" class="layui-input" disabled="disabled" placeholder="请选择客户">
				<input v-model="customerReturnList.customerId" type="hidden">
			</div>
			<div class="layui-form-mid" v-if="!isView"><a class="layui-icon layui-icon-search" href="javascript:gotoSupplierList();"></a></div>
			<div class="my-form-label" v-if="isView">
				<div class="layui-input-inline">
					{{customerReturnList.customerName}}
				</div>
			</div>
			<label class="layui-form-label" v-if="isView">负责人</label>
			<div class="my-form-label" v-if="isView">
				<div class="layui-input-inline">
					{{customerReturnList.userName}}
				</div>
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
		    <label class="layui-form-label">备注</label>
		    <div class="layui-input-block" v-if="!isView">
		      <textarea v-model="customerReturnList.remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
		    </div>
		    <div class="layui-input-block" v-if="isView">
				<textarea v-model="customerReturnList.remarks" class="layui-textarea" readonly="readonly"></textarea>
			</div>
		 </div>
		 <div class="layui-form-item" v-if="!isView">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit lay-filter="customerReturnListForm">立即提交</button>
		      <a href="javascript:closeIframe();" class="layui-btn layui-btn-primary">关闭</a>
		    </div>
		 </div>
	</form>
</div>
<script src="/layui/layui.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/jquery-min-1.11.3.js"></script>
<script src="/js/common.js"></script>
<script>
layui.use(['layer','form','element','laydate'], function(){ //务必重视layui属性的初始化
    layer = layui.layer;
    form = layui.form;
    element = layui.element;
    laydate = layui.laydate;
	form.on('submit(customerReturnListForm)', function(data){
	   customerReturnListInfo.saveReturnList();
	   return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
	});
	laydate.render({
	    elem: '#datetime'
	    ,type: 'datetime'
    	,done: function(value, date){
    		customerReturnListInfo.customerReturnList.customerReturnDate = value;
	      }
	  });
});
var isView = getQueryString("isView") || false;
	
//获取客户退货编信息和保存客户退货信息
var customerReturnListInfo = new Vue({
	el : '#customerReturnListEdit',
	data : {
		customerReturnList : {},
		isView : isView,
	},
	methods : {
		saveReturnList : function() {
			$.post('/customerreturnlist/save',this.customerReturnList, function(res) {
				if(jQuery.parseJSON(res).success){
					customerReturnListInfo.customerReturnList = jQuery.parseJSON(res);
					customerReturnListInfo.customerReturnList.customerReturnDate =  dateFormat(customerReturnListInfo.customerReturnList.customerReturnDate);
					layer.msg("保存成功");
				}else{
					layer.msg("发生错误");
				}
			});
		},
		getGoods : function(id) {
			$.get('/goods/'+id, function(res) {
				var goods = jQuery.parseJSON(res);
				Vue.set(customerReturnListInfo.customerReturnList,"customerName", goods.customerName);//如果是新增属性要这样写才能更新model，触发动态绑定
				Vue.set(customerReturnListInfo.customerReturnList,"customerId", goods.customerId);
				Vue.set(customerReturnListInfo.customerReturnList,"goodsName", goods.name);
				Vue.set(customerReturnListInfo.customerReturnList,"goodsId", goods.id);
				Vue.set(customerReturnListInfo.customerReturnList,"unitPrice", goods.sellingPrice);
			});
		},
		getReturnList : function(id) {
			$.get('/customerreturnlist/'+id, function(res) {
				customerReturnListInfo.customerReturnList = jQuery.parseJSON(res);
				customerReturnListInfo.customerReturnList.customerReturnDate = dateFormat(customerReturnListInfo.customerReturnList.customerReturnDate);
			});
		},
	},
	created : function() {
		var goodsId=getQueryString("goodsId");
		var id=getQueryString("id");
		if(goodsId != null){
			this.getGoods(goodsId);
		}else if(id != null){
			this.getReturnList(id);
		}
	},
	filters: {
        formatDate(time) {
            return dateFormat(time);
        }
    }
})
function gotoSupplierList(){
	layer.open({
		  title: '选择客户',
		  type: 2,
		  area: ['700px', '450px'],
		  fixed: false, //不固定
		  maxmin: true,
		  content: '/basicdata/goods-customer-list.html'
		});
}
</script>
</body>
</html>