<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>报溢单信息</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,overflowList-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/css/edit.css" media="all">
</head>
<body>
<div id="overflowListEdit">
   	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label"><span style="color: red">*</span>商品名</label>
			<div class="layui-input-inline two" v-if="!isView">
				<input type="text" v-model="overflowList.goodsName" required lay-verify="required" placeholder="请输入商品名" autocomplete="off" disabled="disabled" class="layui-input">
			</div>
			<div class="my-form-label" v-if="isView">
				<div class="layui-input-inline two">
					{{overflowList.goodsName}}
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span style="color: red">*</span>报溢单号 </label>
			<div class="layui-input-inline two" v-if="!isView">
				<input type="text" v-model="overflowList.overflowCode" placeholder="不填写将自动生成|格式：BY+时间(毫秒级)" autocomplete="off" class="layui-input">
			</div>
			<div class="my-form-label" v-if="isView">
				<div class="layui-input-inline">
					{{overflowList.overflowCode}}
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span style="color: red">*</span>报溢数量</label>
			<div class="layui-input-inline" v-if="!isView">
				<input type="text" required lay-verify="required" v-model="overflowList.overflowNumber" placeholder="请输入报溢数量" autocomplete="off" class="layui-input">
			</div>
			<div class="my-form-label" v-if="isView">
				<div class="layui-input-inline">
					{{overflowList.overflowNumber}}
				</div>
			</div>
			<label class="layui-form-label"><span style="color: red">*</span>报溢时间</label>
			<div class="layui-input-inline" v-if="!isView">
				<input type="text" id="datetime" name="overflowDate" v-model="overflowList.overflowDate" required lay-verify="required" autocomplete="off" placeholder="请输入报溢时间" class="layui-input">
			</div>
			<div class="my-form-label" v-if="isView">
				<div class="layui-input-inline">
					{{overflowList.overflowDate | formatDate}}
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label" v-if="isView">负责人</label>
			<div class="my-form-label" v-if="isView">
				<div class="layui-input-inline">
					{{overflowList.userName}}
				</div>
			</div>
		</div>
		<div class="layui-form-item layui-form-text" v-if="isView">
		    <label class="layui-form-label">状态</label>
		    <div class="layui-input-inline">
				 <select id="status" lay-filter="status">
				 	<option value="0">未审核</option>
				 	<option value="1">审核通过</option>
				 	<option value="2">审核驳回</option>
				 </select>
			</div>
		 </div>
		<div class="layui-form-item layui-form-text">
		    <label class="layui-form-label">备注</label>
		    <div class="layui-input-block" v-if="!isView">
		      <textarea v-model="overflowList.remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
		    </div>
		    <div class="layui-input-block" v-if="isView">
				<textarea v-model="overflowList.remarks" class="layui-textarea" readonly="readonly"></textarea>
			</div>
		 </div>
		 <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit lay-filter="overflowListForm">立即提交</button>
		      <a href="javascript:closeIframe();" class="layui-btn layui-btn-primary">关闭</a>
		    </div>
		 </div>
	</form>
</div>
<script src="/layui/layui.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/jquery-min-1.11.3.js"></script>
<script src="/js/common.js"></script>
<script>
layui.use(['layer','form','element','laydate'], function(){ //务必重视layui属性的初始化
    layer = layui.layer;
    form = layui.form;
    element = layui.element;
    laydate = layui.laydate;
	form.on('submit(overflowListForm)', function(data){
	   overflowListInfo.saveOverflowList();
	   return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
	});
	laydate.render({
	    elem: '#datetime'
	    ,type: 'datetime'
	   	,done: function(value, date){
	   		overflowListInfo.overflowList.overflowDate = value;
	      }
	  });
	form.on('select(status)', function(data){
			overflowListInfo.overflowList.status=data.value;
		}); 
});
var isView = getQueryString("isView") || false;
	
//获取报溢单信息和保存报溢单信息
var overflowListInfo = new Vue({
	el : '#overflowListEdit',
	data : {
		overflowList : {},
		isView : isView,
	},
	methods : {
		saveOverflowList : function() {
			$.post('/overflowlist/save',this.overflowList, function(res) {
				if(jQuery.parseJSON(res).success){
					overflowListInfo.overflowList = jQuery.parseJSON(res);
					overflowListInfo.overflowList.overflowDate = dateFormat(overflowListInfo.overflowList.overflowDate);
					layer.msg("保存成功");
				}else{
					layer.msg("发生错误");
				}
			});
		},
		getGoods : function(id) {
			$.get('/goods/'+id, function(res) {
				var goods = jQuery.parseJSON(res);
				Vue.set(overflowListInfo.overflowList,"goodsName", goods.name);
				Vue.set(overflowListInfo.overflowList,"goodsId", goods.id);
				Vue.set(overflowListInfo.overflowList,"unitPrice", goods.purchasingPrice);
			});
		},
		getOverflowList : function(id) {
			$.get('/overflowlist/'+id, function(res) {
				overflowListInfo.overflowList = jQuery.parseJSON(res);
				overflowListInfo.overflowList.overflowDate = dateFormat(overflowListInfo.overflowList.overflowDate);
				$("#status").find('option[value='+overflowListInfo.overflowList.status+']').attr("selected",true);
			});
		},
	},
	created : function() {
		var goodsId=getQueryString("goodsId");
		var id=getQueryString("id");
		if(goodsId != null){
			this.getGoods(goodsId);
		}else if(id != null){
			this.getOverflowList(id);
		}
	},
	filters: {
        formatDate(time) {
            return dateFormat(time);
        }
    }
})
</script>
</body>
</html>