<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>进销存管理系统</title>
<link rel="stylesheet" href="/layui/css/layui.css">
<link rel="stylesheet" href="/css/main.css">
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin" id="mainView">
		<div class="layui-header">
			<div class="layui-logo" style="font-size: 22px">进销存管理系统</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item">
					<a href="javascript:;" v-cloak>
						<img src="/img/user.jpg" class="layui-nav-img" style="width: 40px;height: 45px"> {{user.trueName}}
					</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="javascript:myInfo()">基本资料</a>
						</dd>
						<dd>
							<a href="javascript:changePassword()">更改密码</a>
						</dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="/logout">退出</a>
				</li>
			</ul>
		</div>
		<div class="layui-side layui-bg-black dynamic-navigation-menu">
			<div class="layui-side-scroll">
				<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
				<ul class="layui-nav layui-nav-tree" lay-shrink="all" lay-filter="layadmin-system-side-menu">
					<li :class="index == 0? 'layui-nav-item layui-nav-itemed' : 'layui-nav-item'" v-for="(root,index) in rootsMenu">
						<a class="" href="javascript:;">{{root.name}}</a>
						<dl class="layui-nav-child" v-for="child in childrenMenu">
							<dd v-if="root.id == child.pId">
								<a v-bind:id="child.id" class="nav-menu" v-bind:lay-href="child.url" href="javascript:void(0);">{{child.name}}</a>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<div class="page-content main dynamic-navigation">
			<div class="layui-tab" lay-filter="xbs_tab" lay-allowclose="true">
				<ul class="layui-tab-title">
					<li class="home">
						<i class="layui-icon">&#xe68e;</i>首页
					</li>
				</ul>
				<div class="layui-tab-content">
					<div class="layui-tab-item layui-show">
						<iframe src='/home.html' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="page-content-bg"></div>
		<div class="layui-footer dynamic-navigation">
		<i id="animation-left-nav" class="layui-icon layadmin-tabs-control layui-icon-prev"></i>
			<!-- 底部固定区域 -->
			Copyleft © 2019 广航毕设 ,
			<a href="http://www.miitbeian.gov.cn/">粤ICP备18018079号</a>
		</div>
	</div>
	
	<div id="changePassword">
		<form class="layui-form" style="padding: 10px">
			<div class="layui-form-item">
				<label class="layui-form-label"><span style="color: red">*</span>原始密码</label>
				<div class="layui-input-inline">
					<input type="password" name="oldPassword" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><span style="color: red">*</span>新密码</label>
				<div class="layui-input-inline">
					<input type="password" name="newPassword" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"><span style="color: red">*</span>确定密码</label>
				<div class="layui-input-inline">
					<input type="password" name="rePassword" placeholder="请确认密码" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
			    <div class="layui-input-block">
			      <button class="layui-btn" lay-submit lay-filter="passwordForm">立即提交</button>
			      <a href="javascript:closePasswordFrame();" class="layui-btn layui-btn-primary">关闭</a>
			    </div>
			  </div>
		</form>
	</div>
<script src="/js/jquery-min-1.11.3.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/jquery-min-1.11.3.js"></script>
<script src="/js/common.js"></script>
<script src="/js/md5.js"></script>
<script>
var element;
var layer;
//layui初始化
layui.use(['element','form','layer'],function() {
	element = layui.element;
	element.init();
	layer = layui.layer;
	form = layui.form;
	form.on('submit(passwordForm)', function(data){
	   userModel.changePassword(data.field);
	   return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
	});
	//tab的操作
	 var tab = {
        tabAdd: function(title,url,id){
          //新增一个Tab项
          element.tabAdd('xbs_tab', {
            title: title 
            ,content: '<iframe tab-id="'+id+'" frameborder="0" src="'+url+'" scrolling="yes" class="x-iframe"></iframe>'
            ,id: id
          })
        }
        ,tabDelete: function(othis){ //layui自带tab删除相关，并没有用到
          //删除指定Tab项
          element.tabDelete('xbs_tab', '44'); //删除id为44的tab
          othis.addClass('layui-btn-disabled');
        }
        ,tabChange: function(id){
          //切换到指定Tab项
          element.tabChange('xbs_tab', id); //切换
        }
      };
	
	 //左侧菜单点击操作
     $('.layui-nav-child').click(function (event) {
         var url = $(this).children('dd').children('a').attr('lay-href');
         var title = $(this).text();
         var index  = $('.dynamic-navigation-menu .layui-nav-item dl').index($(this));
         //查看tab是否存在，存在则切换
         for (var i = 0; i <$('.x-iframe').length; i++) {
             if($('.x-iframe').eq(i).attr('tab-id')==index+1){
                 tab.tabChange(index+1);
                 event.stopPropagation();
                 return;
             }
         };
         //tab不存在则新增并切换到新tab
         tab.tabAdd(title,url,index+1); 
         tab.tabChange(index+1);
         event.stopPropagation();
    });
	 
  //菜单和主界面伸缩功能
    var navigation=0; //箭头指向判断
    $('#animation-left-nav').click(function (event) {
        var a = $('.dynamic-navigation-menu'); //菜单
        var b = $('.dynamic-navigation'); //主界面
        navigation = navigation > 0 ? 0 : 1;
        if(navigation > 0){
        	$('#animation-left-nav').attr("class","layui-icon layadmin-tabs-control layui-icon-next");
        }else{
        	$('#animation-left-nav').attr("class","layui-icon layadmin-tabs-control layui-icon-prev");
        }
        a && (a.attr("tg") ? (a.animate({
            left: 0,
            opacity: "show"
        }, 500), a.removeAttr("tg")) : (a.animate({
            left: -200,
            opacity: "show"
        }, 500), a.attr("tg", "1")))
        b && (b.attr("tg") ? (b.animate({
            left: 200,
            opacity: "show"
        }, 500), b.removeAttr("tg")) : (b.animate({
            left: 0,
            opacity: "show"
        }, 500), b.attr("tg", "1")))
    });
});

	
//获取登录者信息和菜单信息
var userModel = new Vue({
	el : '#mainView',
	data : {
		user : {},
		rootsMenu : {},
		childrenMenu : {},
	},
	methods : {
		getUser : function() {
			$.get('/user/info', function(res) {
				userModel.user = jQuery.parseJSON(res);
			});
		},
		getMenuList : function() {
			$.get('/user/menu', function(res) {
				userModel.rootsMenu = jQuery.parseJSON(res).roots;
				userModel.childrenMenu = jQuery.parseJSON(res).children;
			});
		},
		changePassword : function(field) {
			var oldPassword=hex_md5(field.oldPassword);
			var newPassword=hex_md5(field.newPassword);
			var rePassword=hex_md5(field.rePassword);
			if(newPassword == rePassword){
				$.post('/user/changepassword',{oldPassword : oldPassword,newPassword : newPassword}, function(res) {
					if(jQuery.parseJSON(res).success){
						layer.msg("保存成功");
					}else{
						layer.msg("原始密码错误!");
					}
				});
			}else{
				layer.msg("新密码确认错误!");
			}
		},
	},
	created : function() {
		this.getMenuList();
		this.getUser();
	},
})

function myInfo(){
	openTab('我的信息','/system/user-edit.html?id='+userModel.user.id+'&isView=true',800,450);
}
var passwordLayer;
function changePassword(){
	//openTab('更改密码',$('#changePassword').html(),800,450);
	passwordLayer=layer.open({
			        type: 1,
			        shadeClose: true,
			        shadeClose: false,
			        title: '更改密码',
			        shade: 0.4,
			        content: $('#changePassword').html() //放提示的div层类名
				}); 
}

function closePasswordFrame(){
	layer.close(passwordLayer)
}
</script>
</body>
</html>