<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>客户信息</title>
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/css/edit.css" media="all">
</head>
<body>
<div id="customerEdit">
   	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label"><span style="color: red">*</span>客户名</label>
			<div class="layui-input-inline" v-if="!isView">
				<input type="text" v-model="customer.name" required lay-verify="required" placeholder="请输入客户名" autocomplete="off" class="layui-input">
			</div>
			<div class="my-form-label" v-if="isView">
				{{customer.name}}
			</div>
			<label class="layui-form-label">联系电话 </label>
			<div class="layui-input-inline" v-if="!isView">
				<input type="text" v-model="customer.phone" placeholder="请输入联系电话" autocomplete="off" class="layui-input">
			</div>
			<div class="my-form-label" v-if="isView">
				{{customer.phone}}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">联系人</label>
			<div class="layui-input-block" v-if="!isView">
				<input type="text" v-model="customer.contact" placeholder="请输入联系人名" autocomplete="off" class="layui-input">
			</div>
			<div class="my-form-label" v-if="isView">
				{{customer.contact}}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">地址</label>
			<div class="layui-input-block" v-if="!isView">
				<input type="text" v-model="customer.address" placeholder="请输入客户地址" autocomplete="off" class="layui-input">
			</div>
			<div class="my-form-label" v-if="isView">
				{{customer.address}}
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
		    <label class="layui-form-label">备注</label>
		    <div class="layui-input-block" v-if="!isView">
		      <textarea v-model="customer.remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
		    </div>
		    <div class="layui-input-block" v-if="isView">
				<textarea v-model="customer.remarks" class="layui-textarea" readonly="readonly"></textarea>
			</div>
		 </div>
		 <div class="layui-form-item" v-if="!isView">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit lay-filter="customerForm">立即提交</button>
		      <a href="javascript:closeIframe();" class="layui-btn layui-btn-primary">关闭</a>
		    </div>
		 </div>
	</form>
</div>
<script src="/layui/layui.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/jquery-min-1.11.3.js"></script>
<script src="/js/common.js"></script>
<script>
layui.use(['layer','form','element'], function(){ //务必重视layui属性的初始化
    var layer = layui.layer;
    var form = layui.form;
    element = layui.element;
	form.verify({
		myphone: [/(^$)|^1\d{10}$/, '请输入正确的手机号'],
		myemail: [/(^$)|^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/, '邮箱格式不正确'],
		myurl: [/(^$)|(^#)|(^http(s*):\/\/[^\s]+\.[^\s]+)/, '链接格式不正确'],
		mynumber: [/(^$)|^\d+$/, '只能填写数字'],
		mydate: [/(^$)|^(\d{4})[-\/](\d{1}|0\d{1}|1[0-2])([-\/](\d{1}|0\d{1}|[1-2][0-9]|3[0-1]))*$/, '日期格式不正确'],
		myidentity: [/(^$)|(^\d{15}$)|(^\d{17}(x|X|\d)$)/, '请输入正确的身份证号']
	});
	form.on('submit(customerForm)', function(data){
	   customerInfo.saveCustomer();
	   return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
	});
});
var isView = getQueryString("isView") || false;
	
//获取客户信息和保存客户信息
var customerInfo = new Vue({
	el : '#customerEdit',
	data : {
		customer : {},
		isView : isView,
	},
	methods : {
		saveCustomer : function() {
			$.post('/customer/save',this.customer).then(function(res) { 
				if(jQuery.parseJSON(res).success){
					customerInfo.customer = jQuery.parseJSON(res);
					layer.msg("保存成功");
				}else{
					layer.msg("发生错误");
				}
			});
		},
		getCustomer : function(id) {
			$.get('/customer/'+id).then(function(res) { 
				customerInfo.customer = jQuery.parseJSON(res);
			});
		},
	},
	created : function() {
		var id=getQueryString("id");
		if(id != null){
			this.getCustomer(id);
		}
	},
})
</script>
</body>
</html>