<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>商品类别信息</title>
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/css/edit.css" media="all">
</head>
<body>
<div id="goodsTypeEdit">
   	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label"><span style="color: red">*</span>商品类别名</label>
			<div class="layui-input-inline" v-if="!isView">
				<input type="text" v-model="goodsType.name" required lay-verify="required" placeholder="请输入商品类别名" autocomplete="off" class="layui-input">
			</div>
			<div class="my-form-label" v-if="isView">
				{{goodsType.name}}
			</div>
			<label class="layui-form-label">图标名 </label>
			<div class="layui-input-inline" v-if="!isView">
				<input type="text" v-model="goodsType.icon" placeholder="请输入图标名" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-form-mid layui-word-aux" v-if="!isView"><a href="https://www.layui.com/doc/element/icon.html" target="_blank">参考地址</a></div>
			<div class="my-form-label" v-if="isView">
				{{goodsType.icon}}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">父菜单</label>
			<div class="layui-input-inline" v-if="!isView">
				 <select id="rootMenu" lay-filter="rootMenu" lay-search="">
				 	<option value="0">请选择父菜单</option>
				 </select>
			</div>
			<div class="layui-form-mid layui-word-aux" v-if="!isView">如果自身为父菜单则不用选择</div>
			<div class="my-form-label" v-if="isView">
				{{goodsType.pName || '无'}}
			</div>
		</div>
		 <div class="layui-form-item" v-if="!isView">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit lay-filter="goodsTypeForm">立即提交</button>
		      <a href="javascript:closeIframe();" class="layui-btn layui-btn-primary">关闭</a>
		    </div>
		 </div>
	</form>
</div>
<script src="/layui/layui.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/jquery-min-1.11.3.js"></script>
<script src="/js/common.js"></script>
<script>
layui.use(['layer','form','element'], function(){ //务必重视layui属性的初始化
    var layer = layui.layer;
    var form = layui.form;
    element = layui.element;
	form.verify({
		myphone: [/(^$)|^1\d{10}$/, '请输入正确的手机号'],
		myemail: [/(^$)|^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/, '邮箱格式不正确'],
		myurl: [/(^$)|(^#)|(^http(s*):\/\/[^\s]+\.[^\s]+)/, '链接格式不正确'],
		mynumber: [/(^$)|^\d+$/, '只能填写数字'],
		mydate: [/(^$)|^(\d{4})[-\/](\d{1}|0\d{1}|1[0-2])([-\/](\d{1}|0\d{1}|[1-2][0-9]|3[0-1]))*$/, '日期格式不正确'],
		myidentity: [/(^$)|(^\d{15}$)|(^\d{17}(x|X|\d)$)/, '请输入正确的身份证号']
	});
	form.on('submit(goodsTypeForm)', function(data){
	   goodsTypeInfo.saveGoodsType();
	   return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
	});
	form.on('select(rootMenu)', function(data){
			goodsTypeInfo.goodsType.pName=data.elem[data.elem.selectedIndex].text;
			goodsTypeInfo.goodsType.pId=data.value;
		}); 
});
var isView = getQueryString("isView") || false;
	
//获取商品类别信息和保存商品类别信息
var goodsTypeInfo = new Vue({
	el : '#goodsTypeEdit',
	data : {
		goodsType : {},
		isView : isView,
	},
	methods : {
		saveGoodsType : function() {
			if($('#rootMenu option:selected').val() == 0){
				goodsTypeInfo.goodsType.pName = '无';
			}
			$.post('/goodstype/save',this.goodsType).then(function(res) { 
				if(jQuery.parseJSON(res).success){
					goodsTypeInfo.goodsType = jQuery.parseJSON(res);
					layer.msg("保存成功");
				}else{
					layer.msg("发生错误");
				}
			});
		},
		getGoodsType : function(id) {
			$.get('/goodstype/'+id).then(function(res) { 
				goodsTypeInfo.goodsType = jQuery.parseJSON(res);
			});
		},
		getRoot : function() {
			$.get('/goodstype/root').then(function(res) { 
				var roots = jQuery.parseJSON(res).list;
				roots.forEach(function(root){
					if(goodsTypeInfo.goodsType.id == root.id){ //自身为父类别的将自己剔除
						return true;
					}else if(goodsTypeInfo.goodsType.pId == root.id){
						$("#rootMenu").append("<option value='"+root.id+"' selected>"+root.name+"</option>");
					}else{
						$("#rootMenu").append("<option value='"+root.id+"'>"+root.name+"</option>");
					}
				});
			});
		},
	},
	created : function() {
		var id=getQueryString("id");
		if(id != null){
			this.getGoodsType(id);
		}
		this.getRoot();
	},
})
</script>
</body>
</html>