<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>角色信息</title>
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/css/edit.css" media="all">
<link rel="stylesheet" href="/layui/lay/mymodules/eleTree.css" media="all">
</head>
<body>
<div id="roleEdit">
	<div class="layui-tab">
	    <ul class="layui-tab-title">
		    <li class="layui-this">角色信息</li>
		    <li v-if="role && role.id">角色菜单</li>
	    </ul>
	    <div class="layui-tab-content">
	   	  <div class="layui-tab-item layui-show">
			<form class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label"><span style="color: red">*</span>角色名</label>
					<div class="layui-input-inline" v-if="!isView">
						<input type="text" v-model="role.name" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
					</div>
					<div class="my-form-label" v-if="isView">
						{{role.name}}
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
				    <label class="layui-form-label">备注</label>
				    <div class="layui-input-block" v-if="!isView">
				      <textarea v-model="role.remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
				    </div>
				    <div class="layui-input-block" v-if="isView">
						<textarea v-model="role.remarks" class="layui-textarea" readonly="readonly"></textarea>
					</div>
				 </div>
				 <div class="layui-form-item" v-if="!isView">
				    <div class="layui-input-block submit-block">
				      <button class="layui-btn" lay-submit lay-filter="roleForm">立即提交</button>
				      <a href="javascript:closeIframe();" class="layui-btn layui-btn-primary">关闭</a>
				    </div>
				  </div>
			</form>
		</div>
		<div class="layui-tab-item" v-if="role && role.id">
		    	<form class="layui-form">
			    	<div class="eleTree ele1" lay-filter="roleMenu"></div>
					  <div class="layui-form-item" v-if="!isView">
					    <div class="layui-input-block submit-block">
					      <button class="layui-btn" lay-submit lay-filter="authForm">立即提交</button>
					      <a href="javascript:closeIframe();" class="layui-btn layui-btn-primary">关闭</a>
					    </div>
					  </div>
				</form>
		    </div>
		</div>
	</div>
</div>
<script src="/layui/layui.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/jquery-min-1.11.3.js"></script>
<script src="/js/common.js"></script>
<script>
//layui扩展tree组件，用于展示角色菜单
layui.config({
    base: "/layui/lay/mymodules/"        //eleTree.js所在目录
}).use(['layer','form','element','eleTree'], function(){
	var layer = layui.layer;
    var form = layui.form;
    var element = layui.element;
    var eleTree = layui.eleTree;
    var el;
    var id=getQueryString("id");
    
    form.on('submit(roleForm)', function(data){
  	  roleInfo.saveRole();
  	  return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
  	});
  	eleTree.on("nodeChecked(roleMenu)",function(d) {
  	    if(d.data.currentData.pId != 0){ //点击的是子节点
  	    	if(d.isChecked){ //如果点击的子节点是选中，加入到addRoleMenuId,查看deleteRoleMenuId是否有该节点id，有则删除
  	    		var dIndex = roleInfo.deleteRoleMenuId.indexOf(d.data.currentData.id); //查看deleteRoleMenuId中是否已存在，存在则抵消，不进行操作
  	    		var parentIndex = roleInfo.deleteRoleMenuId.indexOf(d.data.parentData.data.id);
  	    		if(dIndex < 0){
	  	    		roleInfo.addRoleMenuId.push(d.data.currentData.id);
	  	    		roleInfo.addRoleMenuId.push(d.data.parentData.data.id); //冗余父节点id
  	    		}else{
  	    			roleInfo.deleteRoleMenuId.splice(dIndex,1);
  	    			roleInfo.deleteRoleMenuId.splice(parentIndex,1);
  	    		}
  	    	}else{ //如果点击的子节点是未选中，加入到deleteRoleMenuId,查看addRoleMenuId是否有该节点id，有则删除
  	    		var aIndex = roleInfo.addRoleMenuId.indexOf(d.data.currentData.id); //查看addRoleMenuId中是否已存在，存在则抵消，不进行操作
  	    		var parentIndex = roleInfo.deleteRoleMenuId.indexOf(d.data.parentData.data.id);
  	    		if(aIndex < 0){ //不存在则加入
	  	    		roleInfo.deleteRoleMenuId.push(d.data.currentData.id);
	  	    		roleInfo.deleteRoleMenuId.push(d.data.parentData.data.id);
  	    		}else{
  	    			roleInfo.addRoleMenuId.splice(aIndex,1);
  	    			roleInfo.addRoleMenuId.splice(parentIndex,1);
  	    		}
  	    	}
  	    }else{ //点击的是父节点
  	    	if(d.isChecked){ //如果选中，本身及其子节点加入到addRoleMenuId，查看deleteRoleMenuId是否有相关节点id，有则删除
  	    		roleInfo.addRoleMenuId.push(d.data.currentData.id);
  	    		d.data.currentData.children.forEach(function(child){ //循环子节点，加入到addRoleMenuId，并查看deleteRoleMenuId是否有相关节点id，有则删除
  	    			var aIndex = roleInfo.addRoleMenuId.indexOf(child.id); //查看addRoleMenuId中是否已存在
  	  	    		if(aIndex < 0 && roleInfo.deleteRoleMenuId.indexOf(child.id) < 0){ //不存在则加入
		  	    		roleInfo.addRoleMenuId.push(child.id);
  	  	    		}else{
		  	    		roleInfo.deleteRoleMenuId.splice(aIndex,1);
  	  	    		}
  	    		});
  	    	}else{ //如果未选中，本身及其子节点加入到deleteRoleMenuId,查看addRoleMenuId是否有相关节点id，有则删除
  	    		roleInfo.deleteRoleMenuId.push(d.data.currentData.id);
  	    		d.data.currentData.children.forEach(function(child){ //循环子节点，加入到deleteRoleMenuId，并查看addRoleMenuId是否有相关节点id，有则删除
  	    			var dIndex = roleInfo.deleteRoleMenuId.indexOf(child.id); //查看deleteRoleMenuId中是否已存在
  	  	    		if(dIndex < 0 && roleInfo.addRoleMenuId.indexOf(child.id) < 0){
		  	    		roleInfo.deleteRoleMenuId.push(child.id);
  	  	    		}else{
		  	    		roleInfo.addRoleMenuId.splice(dIndex,1);
  	  	    		}
  	    		});
  	    	}
  	    }
  	})
  	form.on('submit(authForm)', function(data){
  	  roleInfo.saveAuth();
  	  return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
  	});
     $.ajax({
        url: "/menu/tree",
        type: 'post',
        data: {roleId : id},
        dataType: 'json',
        success: function (res) {
            var data=res.list;
            el=eleTree.render({
                elem: '.ele1',
                data: data,
                defaultExpandAll: true,
                response: {
                	code: "code",
                    statusCode: 0,
                    data: "data",
                },
                request: {     // 对后台返回的数据格式重新定义
                	name: "name",
                    key: "id",
                    children: "children",
                    checked: "checked",
                },
                showCheckbox: true,
                drag: false,
                accordion: false
            });
        },
        error: function (msg) {
            console.log("tree错误")
        }
    }); 
})

//用于判断页面当前是编辑页还是展示页
var isView = getQueryString("isView") || false;
	
//获取和保存角色信息
var roleInfo = new Vue({
	el : '#roleEdit',
	data : {
		role : {},
		isView : isView,
		addRoleMenuId : [],
		deleteRoleMenuId : [],
	},
	methods : {
		saveRole : function() {
				$.post('/role/save',this.role).then(function(res) { 
					if(jQuery.parseJSON(res).success){
						roleInfo.role=jQuery.parseJSON(res);
						layer.msg("保存成功");
					}else{
						layer.msg("发生错误");
					}
				});
		},
		saveAuth : function() {
				$.post('/role/auth',{addRoleMenuId : this.addRoleMenuId.toString(),deleteRoleMenuId : this.deleteRoleMenuId.toString(),roleId : this.role.id}).then(function(res) { 
					if(jQuery.parseJSON(res).success){
						layer.msg("保存成功");
					}else{
						layer.msg("发生错误");
					}
				});
		},
		getRole : function(id) {
			$.get('/role/'+id).then(function(res) { 
				roleInfo.role = jQuery.parseJSON(res);
			});
		}
	},
	created : function() {
		var id=getQueryString("id");
		if(id != null){
			this.getRole(id);
		}
	},
})
</script>
</body>
</html>